<header class="search">
  <div class="container">
    <form class="search__form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
        class="search__input"
      />
      <button type="submit" class="search__btn"></button>
    </form>
  </div>
</header>
<section>
  <div class="container">
    <div class="box0">
      <button type="submit" class="div_search__btn">
        <div class="box_search"></div>
      </button>
      <div class="box1">
        <div class="div__box-input">
          <input
            type="text"
            name="searchQuery1"
            autocomplete="off"
            placeholder="Search films..."
            class="search__input1"
          />
        </div>
      </div>
      <button type="submit" class="div_search__btn1">
        <div class="box_close"></div>
      </button>
    </div>
    <div class="gallery"></div>
  </div>
</section>
